<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="JKLog" type="JKLog.Configuration.JKLogSection, JKLog" />
  </configSections>

  <JKLog>
    
    <mapper type="JKConsole">
      <add key="verbose" value="false" />
    </mapper>
    
    <mapper type="LogFile">
      <add key="formatPath" value="HH" />
      <add key="formatFilename" value="mm" />
      <add key="extension" value="txt" />
    </mapper>
    
    <mapper type="WindowsEvent">
      <add key="source" value="JKLogTest" />
    </mapper>
    
  </JKLog>

</configuration>